<style>
    .feature {
        background-color: #f7f7f7;
        display: flex;
        line-height: 14px;
        text-align: center;
        margin: 30px 0;
        padding: 15px;
        list-style: none;
        flex-wrap: wrap;
        box-sizing: border-box;
        width: 610px;
        margin-left: 100px;
    }

    .feature li {
        padding: 10px;
        display: flex;
        text-align: left;
    }

    .feature .icon {
        max-width: 40px;
        height: 30px;
    }

    .feature .icon img {
        width: 40px;
        height: 30px;
    }

    .feature .text {
        margin-left:10px;
    }

    .feature .text strong {
        font-size: 14px;
        color: #000;
    }

    .feature .text p {
        font-size: 12px;
        color: #737373;
    }
</style>
<ul class="feature">
    <li>
        <div class="icon">
            <img src="~/Upload/Feature/ghn.png" alt="">
        </div>
        <div class="text">
            <strong>Giao hàng nhanh</strong>
            <p>Từ 2 - 5 ngày</p>
        </div>
    </li>
    <li>
        <div class="icon">
            <img src="~/Upload/Feature/free.png" alt="">
        </div>
        <div class="text">
            <strong>Miễn phí vận chuyển</strong>
            <p>Đơn hàng từ 399K</p>
        </div>
    </li>
    <li>
        <div class="icon">
            <img src="~/Upload/Feature/order.png" alt="">
        </div>
        <div class="text">
            <strong>
                Theo dõi đơn hàng
                <br>
                một cách dễ dàng
            </strong>
        </div>
    </li>
    <li>
        <div class="icon">
            <img src="~/Upload/Feature/returns.png" alt="">
        </div>
        <div class="text">
            <strong>Đổi trả linh hoạt</strong>
            <p style="line-height: 15px!important;">
                Với sản phẩm không
                <br>
                áp dụng khuyến mãi
            </p>
        </div>
    </li>
    <li>
        <div class="icon">
            <img src="~/Upload/Feature/pay.png" alt="">
        </div>
        <div class="text">
            <strong>
                Thanh toán dễ dàng
                <br>
                nhiều hình thức
            </strong>
        </div>
    </li>
    <li>
        <div class="icon">
            <img src="~/Upload/Feature/hotline.png" alt="">
        </div>
        <div class="text">
            <strong>Hotline hỗ trợ</strong>
            <h3 style="font-size:14px">012 3456 789</h3>
        </div>
    </li>
</ul>